.block-search {
    position: relative;
  
    .icon {
      position: absolute;
      background-image: url('~/assets/images/icon-search.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      top: 50%;
      left: 1.625rem;
      width: 1rem;
      height: 1rem;
      transform: translate(-50%, -50%)
    }
  
    .form-control {
      height: 3.25rem;
      border: unset;
      box-shadow: 0 0.5rem 1rem 0 rgba(#000000, 0.05);
      padding-left: 3.5rem;
  
      &::placeholder {
        color: #B7B7B7;
      }
    }
  }
  
  .btn-blue {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
    border-radius: 0.125rem;
    padding: 1rem 3.625rem;
  }
  
  .block-client {
    background-color: #ffffff;
    box-shadow: 0 0.5rem 1rem 0 rgba(#000000, 0.05);
    padding: 1.25rem 2.5rem;
  }
  